.contenedor-total-reportes{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arriba-contenedor-users{
    width: 100%;
}
.contenedor-reportes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.contenedor-reportes-proyectos{
    width: 50%;
}
