.modal-contenido {
    background: linear-gradient(to bottom, #bebebe, #ffffffe5);
    width: 700px;
    height: 218px;
    display: flex;
    padding: 10px 20px;
    margin: 15% auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 1px 0px 10px 1px rgba(51, 50, 50, 0.692);

}

.modal {
    background-color: rgba(255, 255, 255, 0.399);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.titulo-modal-admin{
    color: #023e6bfc;
    margin-bottom: 0;
}

.select-modal-admin{
    padding: 2%;
    border-color: #023e6bfc;
    border-radius: 6px;
    cursor: pointer;
}

.btn-modal-admin{
    padding: 10px;
    background-color: #0460a5;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}