.rcard-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #3273f5fb;
    width: 70%;
}

.rcard-stars {
    background-color: #1f517d71;
    height: 13rem;
    width: 10rem;
    display: flex;
    /* width: 31rem; */
    margin: 25px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.rcard-div-separador {
    margin-right: 25px;
}

.rcard-infoUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.rcard-infoUser-name {
    display: flex;
    flex-direction: row;

}

.rcard-text {
    height: 10rem;
    width: 40rem;
    resize: none;
    border-radius: 30px;
    padding: 1%;
    background-color: #1f517d71;
    /* border-top: 10px groove #006eff;
    border-right: 10px groove #006eff;
    border-bottom: 10px groove #006eff;
    border-left: 10px groove #006eff; */
}