@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.userSettingsContainer {
    width: calc(100% - 2em);
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.865);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.userSettings-firstGroup {
    width: 100%;
    display: flex;
    flex-direction: row;

    /* outline: 2px solid blue; */

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    border-bottom: 2px solid #012a4aa9;
    padding-bottom: 1.5em;
}

.userSettings-secondGroup {
    width: 100%;
    display: flex;
    flex-direction: column;

    /* outline: 2px solid blue; */

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    border-bottom: 2px solid #012a4aa9;

    padding-bottom: 1.5em;

}

.userSettings-fg-inputContainer {
    width: calc(50% - 1em);
    padding: 0.5em;
    /* outline: 2px solid red; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.userSettings-sg-inputContainer {
    width: 100%;
    /* outline: 2px solid red; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.titulo-userSettings{
    margin-bottom: 0;
    margin-left: 9px;
}

.userSettings-textInput {
    width: calc(100% - 3em);
    border-radius: 5px;
    border: none;
    padding: 6px;
    font-family: 'Poppins', sans-serif;
}

.userSettings-textArea {
    width: calc(100% - 3em);
    min-width: calc(100% - 3em);
    max-width: calc(100% - 3em);
    min-height: 5em;
    border-radius: 5px;
    border: none;
    padding: 6px;
    font-family: 'Poppins', sans-serif;
}


.save-message-ok {
    color: green;
}

.save-message-err {
    color: red
}

.userSettings-saveButton{
    width: 99%;
    padding: 10px;
    border: none;
    background-color: #427fcb;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    font-family: inherit;
    letter-spacing: 0.5px;
    margin-top: 1.5rem;
}

.userSettings-saveButton:hover {
    border: none;
    background-color: #224a7b;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}