@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.contenedor-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: #012A4A;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1px;
}

.part-arriba{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.footer-left{
    margin-left: 80px;
    margin-top: 10px;
}

.h1-footer {
    color: white;
    font-size: 35px;
}

.footer-socials{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.footer-social{
    padding: 0px 8px 0px 8px;
    color: rgba(255, 255, 255, 0.69);
    cursor: pointer;
    font-size: larger;
}
.footer-social:hover{
    color: white;
}


.footer-right{
    margin-right: 130px;
    margin-top: 80px;
}

.p-link {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.p-link:hover {
    letter-spacing: 2px;
}

.a-footer {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    margin: 0;
}


.part-abajo {
    margin: 0;
    color: rgb(141, 137, 137);
    font-size: smaller;
}