@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.contenedor-footer{
    border-top: 1px solid antiquewhite;
    width: 100%;
    position: relative;
    background-color: #428fbb;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1px;
}

.p-link{
    border-radius: 5px;
    background-color: antiquewhite;
    border: 2px solid #013A63;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    transition: 0.4s;
}

.p-link:hover{
    background-color: #a9d6e5cb;
    color: white;
}

.part-abajo{
    width: 100px;
    margin: 0 auto;
}
.a-footer{
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
.part-arriba{
    margin: 10px;
}

.h1-footer{
    color:white;
    font-weight: bold;
    -webkit-text-stroke: .9px black;
}