.project-edit-container {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* #013a63; */
.project-bar-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0.5rem;
}
.containerImagesPreview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 90px;
  width: 200px;
  overflow: auto;
  border: 1px solid #666;
  background-color: #ccc;
  padding: 8px;
}
.imagePreview {
  width: 100%;
  height: 100%;
  display: flex;
}
.project-bar {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #0b85b9;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  transition: 0.4s;
  border-radius: 0.2rem;
}
.project-bar:hover {
  background-color: #044475;
  color: #fff;
}
.project-edit-container h3 {
  color: #0b85b9;
}
.project-edit-div-nombre {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6rem;
  margin: 2rem;
}
.project-edit-div-description {
  width: 40%;
  height: 29rem;
  margin-top: 1rem;
  margin-right: 2rem;
}
.project-edit-textarea-shortdescription {
  resize: none;
  width: 90%;
  height: 3rem;
}
.project-edit-textarea-description {
  resize: none;
  width: 90%;
  height: 10.5rem;
  margin: 2rem;
}
.project-edit-div-tecnologias {
  width: 40%;
  height: 30rem;
  margin-bottom: 2rem;
}
.project-edit-div-link-1 {
  border-radius: 30px;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  box-shadow: 5px 5px 20px 10px rgb(213, 213, 213);
  border-radius: 1em;
  padding-bottom: 0.5rem;
  margin-right: 2rem;
  width: 40%;
  margin-bottom: 2rem;
}
.project-edit-div-link-1 input {
  width: 30rem;
}
.project-edit-div-link-2 {
  border-radius: 30px;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  box-shadow: 5px 5px 20px 10px rgb(213, 213, 213);
  border-radius: 1em;
  padding-bottom: 0.5rem;
  width: 40%;
  margin-bottom: 2rem;
}

.project-edit-input {
  --border-height: 2px;
  --border-before-color: #2c7da0;
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  font-family: "Poppins", sans-serif;
  /* width: var(--width-of-input); */
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  background-color: transparent;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border-radius: 0.3rem;
  border: none;
  font-family: "Poppins", sans-serif;
  border-bottom: var(--border-height) solid var(--border-before-color);
}
.project-edit-input_border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

/* Hover on Input */
.project-edit-input:hover {
  background: var(--input-hovered-color);
}

.project-edit-input:focus {
  outline: none;
}

/* here is code of animated border */
.project-edit-input:focus ~ .project-edit-input_border {
  width: 100%;
}

.project-edit-div-white-name {
  width: 40%;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  box-shadow: 5px 5px 20px 10px rgb(213, 213, 213);
  border-radius: 1em;
  padding-bottom: 7.5rem;
}
.project-edit-div-white {
  border-radius: 30px;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  box-shadow: 5px 5px 20px 10px rgb(213, 213, 213);
  border-radius: 1em;
  padding-bottom: 0.5rem;
}

.project-edit-error-description {
  position: absolute;
  margin-left: 3rem;
  margin-top: 2.5rem;
  color: red;
}
.project-edit-error-name {
  position: absolute;
  margin-left: 3rem;
  top: 30%;
  left: 37%;
  color: red;
}
.project-edit-error-tecnologias {
  position: absolute;
  left: 57%;
  top: 49%;
  color: red;
}
.project-edit-error {
  color: red;
}
