/* From uiverse.io by @alexruix */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.cards-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

.card-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 55vh;
    transition: 0.4s;
    background: linear-gradient(to right, #99cfee, #01497C);
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
    margin: 10px;
    border-radius: 20px;
}

.card-div-user {
    display: flex;
    height: 100%;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.card-div-info {
    display: flex;
    height: 100%;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-info-texto {
    display: flex;
    flex-direction: column;
    height: 87%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10%;
}

/*Corazon favorito*/
.corazon-card {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 13%;
    transition: all .5s;
}

.corazon {
    background-color: transparent;
    padding: 5% 5% 0 0;
    border: 0;
    font-size: 2rem;
    color: rgb(219, 26, 26);
    transition: all .5s;
    cursor: pointer;
}

.corazon:hover {
    font-size: 2.2rem;
}

.corazon-card svg {
    transition: all .2s;

    position: relative;
    box-sizing: border-box;
}

.corazon-card:hover svg {
    position: relative;
    border-radius: 100px;
}

.corazon-card:active svg {
    color: rgb(114, 0, 0);
}

.tooltipCard {
    transition: all .3s;
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 0.2rem;
    border-radius: 6px;
    font-size: smaller;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.corazon-card:hover .tooltipCard {
    background-color: rgba(0, 0, 0, 0.731);
    color: #fff;
    visibility: visible;
}

/*Text*/
.text-title-card {
    font-size: 1.5rem;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-weight: 500;
    text-decoration: none;
    font-weight: bolder;
    transition: all .2s;
    margin: 0;
}

.text-title-card:hover {
    letter-spacing: 0.1rem;
    transform: scale(1.2);
    text-shadow: 7px 5px 5px black;
}

.title-card {
    text-decoration: none;
    display: flex;
}

.text-body-card {
    font-size: 1rem;
    width: 70%;
    margin: 5px 0 15px 0;
    color: white;
    font-weight: bolder;
    padding: 4%;
}

.text-technologies-card {
    color: rgba(255, 255, 255, 0.856);
    margin: 0;
    font-weight: bolder;
    width: 82%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.technologie-card {
    background-color: #01497C;
    border: solid black 1px;
    border-radius: 10px;
    padding: 1px;
    margin: 2px;
}


/*Button*/
.card-button-home {
    padding: 0.6rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: larger;
    transition: 0.4s ease;
    text-decoration: none;
    cursor: pointer;
    width: 8rem;
}

.card-button-home:hover {
    padding: 0.6rem;
    background: #01497C;
    color: white;
    border-radius: 6px;
}


/*Image*/
.card-img {
    display: flex;
    width: 52rem;
    height: 70rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
    max-height: 80%;
    flex-direction: column;
}

.img-project-card {
    height: 18rem;
    width: 30rem;
    border-radius: 20px;
    max-height: 95%;
    max-width: 95%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.356);
}


.username-card {
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    align-items: flex-start;
    justify-content: flex-end;
}


.card-user:hover {
    background: #012A4A;
    color: #f5f5f5;
    cursor: pointer;
}

.card-user {
    border: 1px solid rgba(0, 0, 0, 0.554);
    padding: 5px 10px 5px 10px;
    border-radius: 12px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.855);
    color: #012A4A;
    font-size: 12px;
    font-weight: bolder;
    transition: 0.4s;
}

.text-score-card {
    padding-bottom: 0;
    margin: 0%;
    color: white;
}

.fecha-card {
    /* position: absolute;
    transform: translateX(45vw) translateY(26vh); */
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.782);
    font-weight: 400;
}

.fecha-card p {
    margin: 0;
    padding: 0;
}

@media (max-width: 575.98px)and (orientation:portrait) {
    body {
        background: green;
    }

    .card-home {
        width: 100vw;
    }
}

/*@media all and (max-width: 850px) {
    .cards-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 200;
    }

    .card-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40rem;
        height: 50rem;
    }
}*/