.card-payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-payment{
    height: 450px;
    width: 700px;
    box-shadow: 1px 1px 20px 10px grey;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.opciones-payment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-check-payment{
    display: flex;
    flex-direction: row;
}

.form-label-payment{
    display: flex;
    width: 100%;
}


.donation-image{
    width: 400px;
}

.card-element-payment{
    margin: 4% 25% 4% 25%;
}