.card-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-payment-title {
    font-size: 3vh;
    margin: 0;
}

.form-payment-subtitle {
    color: gray;
}

.form-payment {
    height: 76vh;
    width: 40vw;
    box-shadow: 5px 5px 20px 10px rgb(213 213 213);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.opciones-payment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-check-payment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-label-payment {
    display: flex;
    width: 110px;
}


.donation-image {
    width: 400px;
}

.card-element-payment {
    margin: 4% 25% 4% 25%;
}