.admin-container{
    margin: 2% 1.5% 6% 1.5%;
}

.arriba-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 0 1% 1%
}

.icono-admin {
    font-size: 1.5rem;
    margin: 2px;
}

/* =============================BOX FEATURES==================================== */

.features-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3%;
    padding: 2%;
}

.feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    background-color: #012A4A;
    border: 2px solid white;
    border-radius: 15px;
    width: 32%;
    height: 10rem;
    transition: .6s;
    z-index: 3;
}

.feature-box:hover {
    transform: scale(1.1);
    z-index: 7;
    background-color: #04518b;

}

.icon-feature-admin {
    margin: 0 auto;
    font-size: 2.5rem;
    color: white;
    float: left;
}

.title-feature-admin {
    color: white;
    font-size: 1.3rem;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
    margin: 18px;
}