@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #012a4a;
    background: linear-gradient(180deg, #012a4a 0%, #034679 60%);
    background: -webkit-linear-gradient(180deg, #012a4a 0%, #034679 60%);
    background: -moz-linear-gradient(180deg, #012a4a 0%, #034679 60%);
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 11vh;
}

.logo-navBar {
    margin-left: 19px;
    font-size: 43px;
    font-weight: bolder;
    border: none;
    background: transparent;
    transition: all .5s;
    text-decoration: none;
    color: white;
}

.logo-navBar:hover {
    font-size: 48px;
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
}

.verTodo-navBar {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.verTodo-navBar:hover {
    font-size: larger;
    font-weight: bolder;
}

.botones-nav {
    display: flex;
    flex-direction: row;
    margin-right: 19px;

}

.btn-perfil-navBar,
.btn-register-navBar,
.btn-logout-navBar,
.btn-login-navBar {
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.7px;
    transition: 0.5s;
}

.btn-logout-navBar,
.btn-login-navBar {
    margin-left: 15%;
}

.btn-perfil-navBar:hover,
.btn-register-navBar:hover,
.btn-logout-navBar:hover,
.btn-login-navBar:hover {
    background-color: #014F86;
    color: white;
    box-shadow: 0 0 5px 3px rgb(235, 230, 230);
}