#Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #012A4A;
    padding: 0.5% 1% 0.5% 3%;
}

.logo-navBar{
    font-size: 43px;
    font-weight: bolder;
    border: none;
    background: transparent;
    padding-left: 20%;
    text-decoration: none;
    color: white;
}

.verTodo-navBar{
    text-decoration: none;
    color: white;
}

.verTodo-navBar:hover{
    font-size: larger;
}

.botones-nav {
    margin: 20px;
    padding: 3px;

}

#Navbar div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}