@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.Contenedor-Principal {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
}

#Cont-populares {
    padding: 2px;
    width: 98vw;
    height: 82vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}


.cont-filtros {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 2%;
}

.cards-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
}

.home-paginado-button {
    padding: 12px;
    width: 90%;
    border: none;
    border-radius: 50px;
    background-color: rgb(235, 230, 230);
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 0 5px 3px rgba(5, 4, 4, 0.379);
    transition: 0.6s;
}

.home-publica-si-logged{
    background-color: #a9d6e5cb;
    box-shadow: 0px 0px 10px 5px #a9d6e5cb;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    margin-bottom: 3%;
}

.home-publicar, .home-publicar-link{
    color:#012A4A;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.4s;

}

.home-publicar-link:hover{
    text-decoration: none;
    font-size: larger;
}

.home-paginado-button-select {
    padding: 12px;
    width: 90%;
    border: none;
    border-radius: 50px;
    background-color: #014F86;
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 0 5px 3px rgba(5, 4, 4, 0.379);
    transition: 0.6s;
}

.container-paginado {
    display: inline-block;
    padding: 1px;
    margin: 1px;
    top: 15px;
    padding: 25px 8px 35px 8px;
}

.home-paginado-button:hover {
    background-color: #014F86;
    color: white;
    box-shadow: 0 0 5px 3px rgb(235, 230, 230);

}

.div-input {
    width: 100%;
    position: relative;
    flex-grow: 1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    width: 100%;
    display: block;
    padding: 9px 32px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #2C7DA0;
    outline: 0;
    transition: border .4s;
    cursor: pointer;
}

.div-input:hover {
    border: 1px solid #012A4A;
    border-radius: 6px;
}

div select {
    border-style: solid;
    width: 100%;
    position: relative;
    flex-grow: 1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    width: 100%;
    display: block;
    padding: 9px 32px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: 0;
    transition: border .4s;
    cursor: pointer;
}

div select:hover {
    border: 1px solid #012A4A;
}

/* 
.card {
    background-color: aqua;
    margin: 10px;
    width: 27vw;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;

} */