.profileContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

    width: 100%;
}

.profileInfo {
    padding: 1em;
    background: linear-gradient(to bottom, #012A4A, #014F86);
    border-radius: 1em;
    margin: 0.5em;
    max-width: 16em;
}

.profile-name {
    color: white;
}

.profilePic {
    height: 15em;
    width: auto;
    padding: 1em;
}

.user-profilePicContainer {
    border-radius: 15em;
    width: 15em;
    height: 15em;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profileInfoDetails {
    color: white;
    word-break: break-all;

}

.profileContents {
    padding: 1em;
    background: linear-gradient(to bottom, #044475, #014F86);

    border-radius: 1em;
    margin: 0.5em;
    width: 62vw;
    min-height: 70vh;
}

.profileContentSections {
    width: 100%;
    text-align: right;
    border-bottom: 2px solid gray;
    color: white;
}

.profileContent-profileInfo {
    text-align: left;
}

.profileContentSectionButton {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    font-size: xx-large;
    border-style: none;
    transition: 0.2s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.profileContentSectionButton:hover {
    color: rgb(101, 97, 140);
    cursor: pointer;
}

.profile-socialMediaLink {
    padding: 0.5em;
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
}

.profile-socialMediaLink:hover {
    color: black;
}

.p-profile,
.p-stack {
    color: white;
    word-break: break-all;

}