@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.profileContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.profileInfo {
    padding: 1em;
    background: linear-gradient(to bottom, #012A4A, #014F86);
    border-radius: 1em;
    margin: 0.5em;
    max-width: 16em;
}

.profile-name {
    color: white;
}

.profilePic {
    height: 15em;
    width: auto;
    padding: 1em;
}

.user-profilePicContainer {
    border-radius: 15em;
    width: 15em;
    height: 15em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profileInfoDetails {
    color: white;
    word-break: break-all;

}

.profileContents {
    padding: 1em;
    background: linear-gradient(to bottom, #044475, #014F86);
    border-radius: 1em;
    margin: 0.5em;
    width: 62vw;
    min-height: 70vh;
}

.profileContentSections {
    width: 100%;
    text-align: right;
    border-bottom: 2px solid gray;
    color: white;
}

.profileContent-profileInfo {
    text-align: left;
    padding: 5%;
}

.profileContentSectionButton {
    color: #aac9f0;
    background-color: rgba(255, 255, 255, 0);
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    border-style: none;
    transition: 0.2s;
    cursor: pointer;
    padding: 8px;
    margin-right: 8px;
}

.profileContentSectionButton:hover {
    color: white;
    transform: scale(1.2);
}

.profile-socialMediaLink {
    padding: 0.5em;
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
}

.profile-socialMediaLink:hover {
    color: black;
}

.p-profile,
.p-stack {
    color: white;
    word-break: break-all;
    margin-bottom: 5%;
    font-weight: bolder;
}
.cont-botones-acciones-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}