/* From uiverse.io by @alexruix */
.cards-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    height: 400px;
    transition: 0.4s;
    background: linear-gradient(to right, #99cfee, #01497C);
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
    margin: 10px;
    border-radius: 20px;
}

.card-info-home {
    color: white;
    transition: 0.5s;
    padding: 2%;
    color: white;
}


/*Text*/
.text-title-card {
    font-size: 1.5rem;
    color: white;
    letter-spacing: .1em;
    text-shadow: 5px 5px 5px black;
    font-weight: 500;
    text-decoration: none;
    font-weight: bolder;
    transition: all .2s;
}

.text-title-card:hover {
    letter-spacing: 6px;
    transform: scale(1.2);
    text-shadow: 7px 5px 5px black;

}

.title-card {
    text-decoration: none;
}

.text-body-card {
    font-size: 0.9rem;
    margin: 5px 0 15px 0;
    color: white;
    font-weight: bolder;
    padding: 4%;
}

/*Button*/
.card-button-home {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background: white;
    color: black;
    font-weight: bold;
    transition: 0.4s ease;
    text-decoration: none;
}

/*Image*/
.card-img {
    width: 60%;
    height: 100%;
    border-radius: 20px;
    border-top-right-radius: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #01497C;
}

.img-project-card {
    border-radius: 20px;
    height: 65%;
}

.card-info-home {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}

.username-card {
    display: flex;
    text-decoration: none;
    align-items: flex-start;
    justify-content: flex-end;
}


.card-user:hover {
    background: #012A4A;
    color: #f5f5f5;
    cursor: pointer;
}

.card-user {
    border: 1px solid rgba(0, 0, 0, 0.554);
    padding: 5px 10px 5px 10px;
    margin: 20px 10px 0px 10px;
    border-radius: 12px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.855);
    color: #012A4A;
    font-size: 12px;
    font-weight: bolder;
    transition: 0.4s;
}

.text-score-card {
    padding-bottom: 0;
    margin: 0%;
}