/* From uiverse.io by @alexruix */
.card-home {
    width: 25vw;
    height: 60vh;
    margin: 10px;
    border-radius: 1em;
    padding: 1.9rem;
    background: #f5f5f5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
}

.cards-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.card-home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(212, 200, 200, 0.4);
    z-index: 2;
    transition: 0.5s;
}

.card-info-home {
    position: absolute;
    margin: 0 auto;
    z-index: 3;
    color: white;
    /* opacity: 1; */
    transform: translateY(5%);
    transition: 0.5s;
    bottom: 100px;
}


/*Text*/
.text-title-card {
    font-size: 1.5rem;
    color: white;
    letter-spacing: .1em;
    text-shadow: 5px 5px 5px black;
    font-weight: 500;
}

.text-body-card {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 5px 0 15px 0;
    color: black;

}

/*Button*/
 .card-button-home {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background: white;
    color: black;
    font-weight: bold;
    transition: 0.4s ease;
}

/*Image*/
 .card-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #012A4A;
    background: linear-gradient(to bottom,#428fbb ,#012A4A );
    border-radius: 5px;
    overflow: hidden;
} */


/*Hover*/
 .card-home:hover {
    transform: translateY(5%);
}

.card-home:hover:before {
    opacity: 1;
}

.card-home:hover .card-info-home {
    opacity: 1;
    transform: translateY(1%);
    margin: 0 auto;
}

.card-button-home:hover {
    background: #012A4A;
    color: #f5f5f5;
    cursor: pointer;

}
.card-user{
    position: absolute;
    top: 0;
    left:  0;
    border: 1px solid black;
    padding: 2px;
    margin: 5px;
    z-index: 3;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    color: #012A4A;
   font-size: 12px;
   font-weight: bolder;
   
}

.img-project-card{
    width: 98%;
    border-radius:5px;
    margin-top: 5px;
    height: 50%;
    z-index: 3;
    opacity: 1;
}