.arriba-contenedor-users{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icono-title-users{
    font-size: 3rem;

}

.contenedor-listado-user{
    width: 75%;
    margin: 0 auto;
    padding: 15px;

}

.user-card-admin{
    list-style: none;
    width: 100%;
    background-color: #012A4A;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
}
.user-card-admin:hover{
    background-color: #073356;

}
.user-card-admin a {
    text-decoration: none;
    color: inherit;
}
.user-desplegable-admin{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    background-color: #012A4A;
    margin-bottom: 15px;
}
.button-desplegable{
    margin: 5px;
}