.container{
    display: flex;
    flex-direction: row;
    margin: 100px 300px 40px 300px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 10px rgb(213, 213, 213);
}

.login-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
}

.login-title{
    color: #1d87d7;
}

.login-right {
    padding: 40px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
}

.login-item{
    padding: 15px;
}

.login-input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-color: #1d87d7;
    width: 250px;
    padding: 5px;
    cursor: pointer;
}

.login-checkbox{
    font-size: smaller;
    cursor: pointer;
}

.login-button{
    width: 250px;
    padding: 10px;
    border: none;
    background-color: #1d86d7d0;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.login-button:hover {
    border: none;
    background-color: #1871b5;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.login-section{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.login-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

.login-register{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 20px;
}

.login-text{
    font-size: smaller;
}

.login-link{
    margin-left: 5px;
}