.community-card {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 100px 20px 20px 10px;
    overflow: hidden;
    margin: 5px 0 5px 0;
    width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-shadow: 1px 1px 2px black;
}

.div-user-comunity {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.text-card-community {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-left: 3%;
    text-align: left;
    align-items: center;
    justify-content: space-between;
}



.community-card:hover {
    z-index: 99;
    background-color: #ffffff;
    transform: scale(1.1);
    box-shadow: 1px 0px 25px 5px rgba(0, 0, 0, 0.281) inset;
    -webkit-box-shadow: 1px 0px 25px 5px rgba(0, 0, 0, 0.281) inset;
    -moz-box-shadow: 1px 0px 25px 5px rgba(0, 0, 0, 0.281) inset;
}

.community-card img {
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 100px 10px;
    overflow: hidden;
    min-width: 14vw;
    min-height: 20vh;
    max-width: 14vw;
    max-height: 20vh;
}

.community-card:hover img {
    box-shadow: 3px 5px 3px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 3px 5px 3px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 5px 3px 0px rgba(0, 0, 0, 1);
}