@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.signup {
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
}   

.container-register{
    display: flex;
    margin: 6% 0% 6% 0%;
    box-shadow: 5px 5px 20px 10px rgb(213, 213, 213);
    border-radius: 15px;
    padding: 6% 8% 6% 8%;
}

.signup-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.signup-form{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}

.form-title{
    color: #0b85b9;
}

.form-group{
    padding: 3% 0% 5% 0%;
}

.register-input{
    --border-height: 2px;
    --border-before-color: #2C7DA0;
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    border-bottom-width: 2px;
    border-bottom-color: #2C7DA0;
    width: 250px;
    padding: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    min-width: 80px;
    min-height: 40px;
    max-width: 200px;
    max-height: 200px;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    font-family: 'Poppins', sans-serif;
    border-bottom: var(--border-height) solid var(--border-before-color);
  }
    

.register-input:hover {
    background: var(--input-hovered-color);
}
.register-input:focus {
    outline: none; 
}
.label-agree-term, .agree-term{
    font-size: smaller;
    cursor: pointer;
}

.form-submit{
    width: 250px;
    padding: 10px;
    border: none;
    background-color: #61A5C2;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 8%;
}

.form-submit:hover {
    border: none;
    background-color: #2A6F97;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.signup-image{
    padding-left: 8%;
}

.signup-image-link{
    font-size: smaller;
    text-decoration: none;
    margin-top: 10%;
    color: #013A63;
    font-weight: bolder;
}
.register-formErrors-p-container{
    width: 270px;
    height: 10px;
    
}
.register-formErrors-p {
    width: 280px;
    margin-top: 0;
    position:absolute;
    color: #e92b2d;
    font-weight: 600;
    font-size: 13px;
}


