.containerAbout{
    display:flex;
    flex-direction: column;
    background-color: white;
}

.headerAbout{
    display: flex;
    flex-direction: row;
    height: 500px;
    background: linear-gradient(#428fbb, white);
    margin-bottom: 5%;
}

.textHeaderA{
    width: 50%;
    margin: 2% 4% 1% 4%;
    padding: 2% 4% 1% 4%;
    font-weight: bolder;
    font-size: larger;
    color: white;
}
.textAbout, .vision-text{
    color: white;
    font-size: larger;
    text-justify: distribute;
}

.imageHeaderA{
    margin-top: 3%;
}

.vision-mision-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0% 4% 5% 4%;
}

.vision{
    color: white;
    font-size: larger;
    padding: 1% 3% 3% 3%;
    margin: 3% 10% 3% 10%;
    background-color: #1c4e6a;
    border-radius: 150px;
}


.team-members{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1% 2% 1% 2%;
    align-items: center;
    justify-content: center;
}

.team-member{
    width: 23%;
    margin: 2% 1% 1% 1%;
    height: 350px;
    background-color: #428fbb;
    border-radius: 8px;
}
