@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.card-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.form-payment-title {
    font-size: 2.5vh;
    margin: 1%;
}

.form-payment-subtitle {
    color: gray;
    margin: 0 0 4% 0;
    ;
}

.form-payment {
    height: 79vh;
    width: 40vw;
    box-shadow: 5px 5px 20px 10px rgb(213 213 213);
    border-radius: 20px;
    margin: 3vh;
    padding: 4vh;
    padding-top: 0;
    align-items: center;
    justify-content: center;
}

.opciones-payment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-check-payment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 3% 0 3%;
    font-family: inherit;
    font-weight: bolder;
}

.form-label-payment {
    display: flex;
}


.donation-image {
    width: 400px;
}

.card-element-payment {
    margin: 4% 25% 4% 25%;
}

.btn-payment {
    width: 51%;
    padding: 10px;
    border: none;
    background-color: #427fcb;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    font-family: inherit;
    letter-spacing: 0.5px;
}

.btn-payment:hover {
    border: none;
    background-color: #224a7b;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}